@font-face {
    font-family: "Source Code Pro";
    src: url(Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}
p.ar{
    font-family: "Source Code Pro";
    font-weight: bold;
    font-size: 30px;
}
p.tim{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    /* font-style: inherit;
    font-weight: bolder; */
}
h1{
    font-family: "Source Code Pro";
}
section{
    font-size: 18px;
    text-shadow: 2px 4px 25px blue;
}

#p1{
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5;
}
#p2{
    font-size: 1.8rem;

}
#p3{
    font-size: 1.2rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: antiquewhite;

}
#p22{
    font-size: 1.8rem;
    text-shadow: 2px 4px 25px blue;
}