header{
    background-color: lightcoral;
}

main {
    background-color: lightblue;
}

section{
    background-color: lightgreen;
}

footer{
    background-color: blue;
}

th, td {
    border-bottom: 1px solid #ddd;
  }
  table{
      background-color: white;
      border: solid;
      padding: 7px;
  }


@media screen and (max-width: 768){
    .selector {
        max-width: 50%;
    }

}
